<div class="offcanvas offcanvas-end notification-center" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Queue</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body resobsive-Q">
    <ul class="sortable-list px-0 quelistsmall">
      <h3 class="no-pat text-center text-danger">No patients in queue</h3>

      <li class="d-flex align-items-center w-100 justify-content-between p-2 my-3 fw-bold border-bottom deletedclass">
        <div class="details">
          <div class="inf-data gap-1 d-flex align-items-center">
            <span>Name:</span>
            <span></span>
          </div>
          <div class="inf-data gap-1 d-flex align-items-center">
            <span>Age:</span>
            <span></span>
          </div>
          <div class="inf-data gap-1 d-flex align-items-center">
            <span>Service:</span>
            <span></span>
          </div>

        </div>
        <div class="ph-cont">
          <a href="#" class="ph-x addToinProgressFromQueue">GO</a>
        </div>
      </li>

    </ul>
  </div>
</div>