<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="build/css/countrySelect.css">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= title %></title>

</head>

<body>

  <%- include ('./components/Navbar.ejs')%>

  <%- include('./components/Header.ejs') %>

  <!-- Page Content  -->

  <main>
    <div class="custom-container">
      <%- include(`templates/${body}`) %>

    </div>
  </main>

  <!-- Scripts -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="build/js/countrySelect.min.js"></script>
  <script src="bootstrap/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#pCountry").countrySelect({
        defaultCountry: "eg", // Set your default country code
        preferredCountries: ['ps', 'eg', 'ye', 'sd', 'sa'], // List of preferred countries (optional)
        excludeCountries: ['il'], // List of countries to exclude (optional)
        responsiveDropdown: true // Enable responsive behavior
      });

      // Open dropdown on click:
      $('#pCountryTrigger').on('click', function() {
        $(this).siblings('#pCountry').countrySelect('open');
      });

      // Open dropdown and filter on input:
      $('#pCountry').on('input', function() {
        $(this).countrySelect('open');
      });
      $('#pCountry').css('width', '100%');
    });
  </script>
  <script src="js/bundle.js"></script>

</body>

</html>