<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="card col-sm-12 col-md-2 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Patients</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li><a href="/Patient">add Patient</a></li>
            <li><a href="/Patient">add Patient</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card col-sm-12 col-md-2 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Patients</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li><a href="/Patient">add Patient</a></li>
            <li><a href="/Patient">add Patient</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-sm-12 col-md-2 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Patients</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li><a href="/Patient">add Patient</a></li>
            <li><a href="/Patient">add Patient</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-sm-12 col-md-2 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Patients</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li><a href="/Patient">add Patient</a></li>
            <li><a href="/Patient">add Patient</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-sm-12 col-md-2 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Patients</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li><a href="/Patient">add Patient</a></li>
            <li><a href="/Patient">add Patient</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col-sm-12 col-md-2 " style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Patients</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li><a href="/Patient">add Patient</a></li>
            <li><a href="/Patient">add Patient</a></li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</div>