<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
  <div class="container-fluid">
    <h2 class="mb-4 text-center align-items-center">Queue</h2>

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">PatientName</th>
            <th scope="col">Taken no.</th>
            <th scope="col">Room</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>2</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>